
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello There</h1>
    </div>

    <a href="/Home/SayGoodMorning">Go Say Good Morning</a>

    <br />
    <br />
    <h3>@ViewData["userinput"]</h3>

    <br />
    <br />
    <h3><a href="/home/showpub">Show Publishers</a></h3>
</body>
</html>
